
.agency-benefits-content-wrapper{
    .content{
        margin-bottom: 50px;
        h5{
            font-family: $heading-font;
            color: $black;
            font-size: 30px;
            line-height: 35px;
        }
        p{
            font-family: $body-font;
            font-size: 16px;
            font-weight: normal;
            line-height: 29px;
        }
    }
}
